.container {
    padding: 0rem;
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
    .title {
        margin: 0;
        line-height: 1.15;
        font-weight: bold;
        font-size: 2rem;
        color: black;
        font-family:  Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
  
  .inputCep{

      border: solid 1px;
      border-color: gray;
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 0px;
      width: 150px;
  }
  .button{
        border-radius: 0px;
        padding: 1rem;
        background-color: #454545;
        color: white;
  }

  .button:disabled,
  .button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }
  
  .card {
    background-color: white;
    margin: 0.5rem auto;
    padding: 2rem 3rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 0px;
    width: 70%;
  }
  .resultCard{
    background-color: white;
    margin: 0.5rem auto;
    padding: 2rem 3rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 0px;
    width: 70%;

  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  